{% extends 'projects_base.html' %}

{% block meta %}
{% endblock meta %}

{% block navbar %}
<div class="container-fluid">
    <a class="navbar-brand text-dark font-semibold text-xl tracking-wider" href="/projects/"><img src="{% static 'assets/startin-logo.png' %}" style="width: 2.5rem; height: 2.5rem;"/> StartIn Projects</a>
    <div class="d-flex justify-content-end">
        {% if logged_in %}  
            <a class="btn btn-outline-danger m-1" href="{% url 'authentication:logout' %}">Logout</a>
            {% else %}
            <a class="btn btn-outline-primary m-1" href="{% url 'authentication:login' %}">Login</a>
            <a class="btn btn-outline-primary m-1" href="{% url 'authentication:register' %}">Register</a>
        {% endif %}
    </div>
</div>
{% endblock navbar %}

{% block content %}
<div class="m-5 d-flex flex-row justify-content-center">
    <div style="max-width: 600px;">
        <h1 class="text-center bold">Create Project</h1>
        <form method="POST" action="{% url 'projects:create_project' %}" class="form-create" id="create-form">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Project title" maxlength="100" required="" class='form-control' id="id_title">
            <textarea name="description" placeholder="Project description" cols="40" rows="10" maxlength="1000" required="" class='form-control mt-3' id="id_description"></textarea>
            <div class="d-flex flex-row mt-3">
                <label for="id_donation_target">Donation target</label>
                <input type="number" name="donation_target" min="0" max="9223372036854775807" required="" class='form-control' id="id_donation_target">
            </div>
            
            <input class="btn btn-primary mt-3" style="width: 100%;" type="submit" name="submit" value="Create"/>
        </form>
    </div>
        
</div>
{% endblock content %}