{% extends 'projects_base.html' %}
{% load static %}

{% block meta %}
<title>StartIn Projects</title>
<script>
    $(document).ready(function(){
        $("form#search-bar-form").submit(function( event ) {
            // alert( "Handler for .submit() called." );
            event.preventDefault();

            var actionurl = event.currentTarget.action;

            $.get(actionurl, $("form#search-bar-form").serialize(), (data) => {
                $('#projects-list').empty();
                append_projects(data);
            });
        });

        $('form#publish-form').submit(function(event) {
            event.preventDefault();

            var actionurl = event.currentTarget.action;

            $.ajax({
                url: actionurl,
                type: 'post',
                data: $('form#publish-form').serialize(),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: (resp) => {
                    $('#publish-modal').modal('hide');
                    append_project(resp[0]);
                    $('#user-project-' + $('#publish-id-project').val()).remove();
                    append_user_project(resp[0])
                }
            })
        })

        $.get("{% url 'projects:get_projects' %}", $("form#search-bar-form").serialize(), (data) => {
            append_projects(data);
        });

        $.get("{% url 'projects:get_user_projects' %}", success=(data) => {
            append_user_projects(data);
        });
    });

    function append_projects(projects) {
        projects.forEach(element => {
            append_project(element);
        });
    }

    function append_project(project) {
        $("#projects-list").append(createProjectCard(project));
    }

    function createProjectCard(element) {
        var data = element.fields

        var card_div = $('<div class="card project-card mt-2 mb-2 p-2"></div>')
            .attr('id', 'project-' + element.pk);
        
        var like_button = $('<button type="button" class="btn btn-outline-primary btn-rounded btn-sm like-btn"></button>')
            .html("<img src=\'{% static 'projects/like-icon.svg' %}\'/>" + data.like_count)
            .attr('id', 'like-' + element.pk)
            .click(() => {
                $.ajax({
                    url: "{% url 'projects:like_project' %}",
                    type: 'post',
                    data: {'id' : element.pk},
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                    },
                    success: (data) => {
                        $('#like-' + element.pk)
                            .html("<img src=\'{% static 'projects/like-icon.svg' %}\'/>" + data[0].fields.like_count)
                    }
                })
            });
        
        var progress_bar = $('<div class="progress-bar' + (data.is_done ? ' bg-success' : '') + '" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>')
            .attr('style', 'width: ' + data.current_donation / data.donation_target * 100 + '%;')
        
        var card_body = $('<div class="card-body"></div>')
            .append($('<div class="d-flex justify-content-between"></div>')
                .append($('<div class="d-flex flex-row align-items-center"></div>')
                    .append($('<div class="ms-2 c-details">')
                        .append($('<h6 class="mb-0"></h6>')
                            .text(data.owner_username))
                        .append($('<span></span>')
                            .text(data.time_created))))
                .append(like_button))
            .append($('<div class="mt-5' + (data.is_done ? ' text-success' : '') + '"></div>')
                .append($('<h3 class="heading"></h3>')
                    .text(data.title))
                .append($('<div class="mt-5"></div>')
                    .append($('<div class="progress"></div>')
                        .append(progress_bar))
                    .append($('<div class="mt-3"> <span class="text1">Rp' + data.current_donation + ' <span class="text2">/ Rp' + data.donation_target + '</span></span> </div>')))
                .append($('<a href="./project/' + element.pk + '" class="btn btn-secondary mt-4">Read More</a>')));

        return card_div.append(card_body);
    }

    function append_user_projects(projects) {
        projects.forEach(element => {
            append_user_project(element);
        });
    }

    function append_user_project(project) {
        $("#user-projects-list").append(createUserProject(project));
    }

    function createUserProject(element) {
        data = element.fields

        var div = $('<div class="row align-items-center mt-2" id="user-project-' + element.pk + '"></div>')
        var detail_div = $('<div class="col ms-2 c-details"><h6 class="mb-0">' + data.title + '</h6><span>' + data.time_created + '</span></div>')
        var progress_bar = $('<div class="progress"></div>').append($('<div class="progress-bar' + (data.is_done ? ' bg-success' : '') + '" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>')
            .attr('style', 'width: ' + data.current_donation / data.donation_target * 100 + '%;'))
        var button_div = $('<div class="row justify-content-end"></div>')

        if (data.is_published){
            button_div.append($('<a href="./project/' + element.pk + '" class="col btn btn-secondary ms-1">View</a>'))

            if (!data.is_done) {
                var done_button = $('<button class="col btn btn-success ms-1">Done</button>').click(() => {
                    $.ajax({
                        url: "{% url 'projects:done_project' %}",
                        type: 'post',
                        data: {'id' : element.pk},
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                        },
                        success: (resp) => {
                            $('#project-' + element.pk).remove();
                            append_project(resp[0]);
                            $('#user-project-' + element.pk).remove();
                            append_user_project(resp[0])
                        }
                    })
                })
                button_div.append(done_button)
            }
        }
        else {
            var edit_button = $('<a href="./edit/' + element.pk + '" %}" class="col btn btn-primary ms-1">Edit</a>')
            var publish_button = $('<button class="col btn btn-success ms-1" data-bs-toggle="modal" data-bs-target="#publish-modal">Publish</button>').click(() => {
                $('#publish-id-project').val(element.pk)
            })
            var delete_button = $('<button class="col btn btn-danger ms-1">Delete</button>').click(() => {
                $.ajax({
                    url: "{% url 'projects:delete_project' %}",
                    type: 'post',
                    data: {'id' : element.pk},
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                    },
                    success: (resp) => {
                        $('#user-project-' + element.pk).remove();
                    }
                })
            })
            button_div.append(edit_button)
            button_div.append(publish_button)
            button_div.append(delete_button)
        }

        div.append(detail_div)
        div.append($('<div class="col"></div>').append(progress_bar))
        div.append($('<div class="col justify-content-end"></div>').append(button_div))

        return $('<div class="container"></div>').append(div)
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
{% endblock meta %}

{% block navbar %}
<div class="d-flex justify-content-end">
    {% if logged_in %}
        <a class="btn btn-outline-danger m-1" href="{% url 'authentication:logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-outline-primary m-1" href="{% url 'authentication:login' %}">Login</a>
        <a class="btn btn-outline-primary m-1" href="{% url 'authentication:register' %}">Register</a>
    {% endif %}
</div>
{% endblock navbar %}

{% block content %}
<main class="d-flex flex-column flex-nowrap">
    {% if not user_projects %}
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Create your project</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Propose an innovative project that will increase the life quality of everyone.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    {% if logged_in %}
                        <a href="{% url 'projects:create_project' %}" class="btn btn-primary btn-lg px-4 gap-3">Create project</a>
                        {% else %}
                        <a href="{% url 'authentication:login' %}" class="btn btn-warning btn-lg px-4 gap-3">Login to create project</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="d-flex flex-column m-3" id="user-projects-list">
            <div class="d-flex flex-row justify-content-between mb-2">
                <h3>Your Projects</h3>
                <a href="{% url 'projects:create_project' %}" class="btn btn-primary">Create project</a>
            </div>
        </div>
    {% endif %}

    <div class="d-flex flex-column w-100">
        <div class="container-fluid mt-3">
            <form class="search-form" id="search-bar-form" action="./get-projects">
                <div class="input-group">
                    <input type="text" class="form-control m-2" placeholder="Search Projects..." name="search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary m-2">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="d-flex flex-wrap justify-content-around" id="projects-list">
        </div>
    </div>

    <div class="modal fade" id="publish-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Publish this project</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'projects:publish_project' %}" class="form-publish" id="publish-form">
                        {% csrf_token %}
                        <input type="hidden" name="id" id="publish-id-project" value="-1">
                        <div class="text-center text-danger">
                            <h3>WARNING</h3>
                            <p>You can't edit the project once you publish it!</p>
                        </div>
                        <input class="btn btn-success mt-3" id="publish-submit" style="width: 100%;" type="submit" name="submit" value="Publish"/>
                    </form>
                    <button type="button" class="btn btn-danger w-100 mt-2" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}