{% extends 'projects_base.html' %}

{% block meta %}
<title>InProject</title>
<script>
    $(document).ready(function(){
        $("form#search-bar-form").submit(function( event ) {
            // alert( "Handler for .submit() called." );
            event.preventDefault();

            var actionurl = event.currentTarget.action;

            $.get(actionurl, $("form#search-bar-form").serialize(), (data) => {
                alert(data);
            });
        });

        // show_tasks();
    });

    // function show_tasks() {
    //     $.get("./json", data => {
    //         data.forEach(element => {
    //             $("#todolist-card-list").append(createTasKCard(element));
    //         });
    //     });
    // }

    // function createTasKCard(element) {
    //     var data = element.fields

    //     var card_div = $('<div></div>')
    //         .addClass('card todolist-card mt-2 mb-2')
    //         .addClass(data.is_finished ? 'border-success' : 'border-danger')
    //         .attr('id', 'task-' + element.pk);

    //     var card_body = $('<div class="card-body"></div>')
    //         .append($('<h4 class="card-title"></h4>')
    //             .append(data.title)
    //             .append($('<span></span>')
    //                 .addClass('badge rounded-pill')
    //                 .addClass(data.is_finished ? 'bg-success' : 'bg-danger')
    //                 .text(data.is_finished ? 'Finished' : 'Not Finished')))
    //         .append($('<h6 class="card-subtitle mb-2 text-muted">Created on: ' + data.date + '</h6>'))
    //         .append($('<p class="card-text">' + data.description + '</p>'))
    //         .append($('<a class="btn btn-secondary" href="./show-task/' + element.pk + '">Show task</a>'))
    //         .append($('<a class="btn btn-primary">Change status</a>')
    //             .attr('href', (data.is_finished ? './unfinish-task/' : './finish-task/') + element.pk))
    //         .append($('<a class="btn btn-danger" href="#">Delete task</a>')
    //             .click(() => {
    //                 $.ajax({
    //                     url: './delete/' + element.pk,
    //                     type: 'delete',
    //                     beforeSend: function(xhr) {
    //                         xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
    //                     },
    //                     success: () => {
    //                         $('#task-' + element.pk).remove()
    //                     }
    //                 });
    //             }));
        
    //     return card_div.append(card_body);
    // }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
{% endblock meta %}

{% block navbar %}
<div class="container-fluid">
    <a class="navbar-brand text-white" href="/">InProject</a>
    <div class="d-flex justify-content-end">
        {% if logged_in %}  
            <a class="btn btn-outline-danger m-1" href="{% url 'authentication:logout' %}">Logout</a>
            {% else %}
            <a class="btn btn-outline-primary m-1" href="{% url 'authentication:login' %}">Login</a>
            <a class="btn btn-outline-primary m-1" href="{% url 'authentication:register' %}">Register</a>
        {% endif %}
    </div>
</div>
{% endblock navbar %}

{% block content %}
<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px;">
        <!-- <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr> -->
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                Create Project
            </a>
            </li>
        </ul>
        <!-- <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" class="rounded-circle me-2" width="32" height="32">
            <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div> -->
    </div>

    <div class="d-flex flex-column align-self-stretch">
        <div class="container-fluid mt-3">
            <form class="search-form" id="search-bar-form" action="./get-projects">
                <div class="input-group">
                    <input type="text" class="form-control m-2" placeholder="Search Projects..." name="search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary m-2">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="d-flex flex-wrap justify-content-around">
            <div class="project-card p-4">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="project-card p-4">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="project-card p-4">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="project-card p-4">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="project-card p-4">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
        </div>
        
    </div>
        

    
</main>

{% endblock content %}