{% extends 'base-shop.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}

<!-- Menambahkan bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<style>
    .add-address {
        margin: auto;
        width: 30%;
        border: 3px solid purple;
        padding: 10px;
        background-image: url('../static/image/address.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    body {
        background-image: url('../static/image/purple_bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
</style>
<br><br><br><br><br>
<div class = "add-address">

    <h1>Add New Address</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                {{form.as_table}}
            <tr>
                <td></td>
                <td><input class="create-button" type="submit" value="Add Address"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     

</div>

{% endblock content %}