{% extends 'base-shop.html' %}

{% block meta %}
<title>Document</title>
{% endblock meta %}

{% block content %}

<!-- Menambahkan bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<style>
  body {
    background-image: url('../static/image/purple_bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .card {
    background-color: rgb(176, 198, 245);
  }

  h3 {
    margin: auto;
    width: 18%;
  }

</style>

<br>
<h3>Shipping Address</h3>
<br><br>

<div class="container">
    <div class="row">
            {% for inputs in data %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <p>{{inputs.street}}</p>
                        <p>{{inputs.city}}</p>
                        <p>{{inputs.province}}</p>
                        <p>{{inputs.postal}}</p>
                        <button type="button" class="btn "><a href="{% url 'shop:done' %}" style="color:black ; margin-left: 150px;">Ship Here</a></button></tr>
                      </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

<br>


<a href="{% url 'shop:add_address' %}" class="tambah-button">Add New Address</a></button>



{% endblock content %}