{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!--NAVBAR-->
<nav class="navbar bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><strong>StartIn Store</strong></a>
            <a class="navbar-brand" href="{% url 'shop:homepage' %}">Home</a>
        </div>
        <ul class="nav navbar=nav">
            <li class="active">
                <a class="navbar-brand" href="{% url 'shop:cart' %}"> <img src="../static/image/checkout.png" width="35"></a>
                <div class = 'cart-item-count' id = 'cart'><h4>{{cart.cartquantity}}</h4></div>
            </li>
        </ul>
    </div>  
</nav>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'shop:register' %}">Buat Akun</a>

</div>

{% endblock content %}