{% extends 'base.html' %}

{% block content %}

<!-- Navbar StartIn -->
<navbar class="navbar bg-base-100 shadow-md">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="/projects"> <img src="../../static/assets/project.svg" class="w-7 h-7"/> projects</a></li>
            <li><a href="/inforum"> <img src="../../static/assets/forum.svg" class="w-7 h-7"/> forum</a></li>
            <li><a href="/shop"> <img src="../../static/assets/shopping-bag.svg" class="w-7 h-7"/> shop</a></li>
            <li><a href="/events"> <img src="../../static/assets/speech.svg" class="w-8 h-8"/> events</a></li>
            {%if username%}
            <li><a href="/auth/logout" class="text-red-500"> <img src="../../static/assets/logout.svg" class="w-7 h-7"/> logout</a></li>
            {%else%}
            
            <li><a href="/auth/login"> <img src="../../static/assets/person.svg" class="w-7 h-7"/> login</a></li>
            {%endif%}
        </ul>
      </div>
      <a href="/" class="btn btn-ghost normal-case text-2xl mb-1 flex items-center gap-x-2">
        <img src="../../static/assets/startin-logo.png" class="w-10 h-10"/>
          <h4 class="font-semibold text-xl tracking-wider">StartIn</h4>
      </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <li><a href="/projects">projects</a></li>
        <li><a href="/inforum">forum</a></li>
        <li><a href="/shop">shop</a></li>
        <li><a href="/events">events</a></li>
        <li><a href="/news">news</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      {% if username %}
      <div class="dropdown dropdown-hover relative mr-2">
        <label tabindex="0" class="text-lg sm:text-xl text-gray-500 p-3 rounded-md transition duration-100 btn-ghost"> Hi, <span class="text-violet-500">{{username}}<span></label>
        
        <ul tabindex="0" class="hidden lg:flex dropdown-content absolute right-0 menu ">
            <div class="w-full h-[20px] bg-transparent "></div>
            <li><a href="/auth/logout" class=" p-3 py-4 text-right shadow-md bg-base-100 rounded-sm w-44 cursor-pointer text-red-500"> <img src="../../static/assets/logout.svg" class="w-6 h-6"/> logout</a></li>
        </ul>
      </div>
      {%else%}
       <a href="/auth/login" class="hidden lg:flex gap-x-1 p-2 border-2 hover:border-blue-500 transition duration-100 rounded-md "> <img src="../../static/assets/person.svg" class="w-6 h-6"/> login</a>
      {%endif %}
    </div>
</navbar>

<body>
    <figure><img src="https://dicoding-web-img.sgp1.cdn.digitaloceanspaces.com/original/event/dos:sharing_session_game_design_header_270922111318.jpg" alt="car!"/></figure>

    <div class="flex justify-center">

        <div class="stats stats-vertical shadow w-full">
  
            <div class="stat">
              <div class="stat-title">Talkshow</div>
              <div class="stat-value">Sharing session Game Design</div>
            </div>
            
            <div class="stat gap-2">
              <div class="stat-title text-2xl">Description</div>
              <div class="stat-desc text-sm">Halo teman-teman!!</div>

              <div class="stat-desc text-sm">
                Pernah kah teman-teman bertanya, bagaimana proses Game Design yang baik? dasar-dasar game desain dan bagaimana desain game untuk game free to play? bagaimana tahapan-nya dan apa saja yang perlu diperhatikan? 
              </div>

              <div class="stat-desc text-sm">
                Kali ini kita akan belajar bersama Ervin Ahmad, kita akan belajar dari pengalaman dan perspektif-nya tentang "Fundamentals of game design" dan bersama Julio Andryanto kita akan belajar tentang "Game design rules of free to play games"
              </div>

              <div class="stat-desc text-sm">
                jangan sampai ketinggalan ya! 
              </div>

              <div class="stat-desc text-sm">
                Link Event Live Youtube : https://youtu.be/UlmZvVu-V5Y 
              </div>

            </div>

            <div class="stat gap-2">
                <div class="stat-title text-2xl">Date</div>
                <div class="stat-desc text-sm">1 October 2022 14:00 - 16:00 WIB</div>
            </div>

            <div class="stat gap-2">
                <div class="stat-title text-2xl">Location</div>
                <div class="stat-desc text-sm">Politeknik Negeri Batam Technopark Lantai 3, Kota Batam</div>
            </div>
            
          </div>

    </div>

</body>

{% endblock content %}