{% extends 'base.html' %}

{% block meta %}
<title>{{forum_title}}</title>
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.33.0/dist/full.css" rel="stylesheet" type="text/css" />
{% endblock meta %}

{% block content %}
<main class="max-w-screen min-h-screen flex flex-col items-center justify-start bg-gray-50">
    <navbar class="navbar bg-base-100 shadow-md">
        <div class="navbar-start">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/projects"> <img src="../../static/assets/project.svg" class="w-7 h-7"/> projects</a></li>
                <li><a href="/inforum"> <img src="../../static/assets/forum.svg" class="w-7 h-7"/> forum</a></li>
                <li><a href="/shop"> <img src="../../static/assets/shopping-bag.svg" class="w-7 h-7"/> shop</a></li>
                <li><a href="/events"> <img src="../../static/assets/speech.svg" class="w-8 h-8"/> events</a></li>
                <li><a href="/news"> <img src="../../static/assets/newspaper.svg" class="w-7 h-7"/> news</a></li>
                <li><a href="/courses"> <img src="../../static/assets/diploma.svg" class="w-7 h-7"/> courses</a></li>
                {%if username%}
                <li><a href="/auth/logout" class="text-red-500"> <img src="../../static/assets/logout.svg" class="w-7 h-7"/> logout</a></li>
                {%else%}
                
                <li><a href="/auth/login"> <img src="../../static/assets/person.svg" class="w-7 h-7"/> login</a></li>
                {%endif%}
            </ul>
          </div>
          <a href="/" class="btn btn-ghost normal-case text-2xl mb-1 flex items-center gap-x-2">
            <img src="../../static/assets/startin-logo.png" class="w-10 h-10"/>
              <h4 class="font-semibold text-xl tracking-wider">StartIn</h4>
          </a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal p-0">
            <li><a href="/projects">projects</a></li>
            <li><a href="/inforum">forum</a></li>
            <li><a href="/shop">shop</a></li>
            <li><a href="/events">events</a></li>
            <li><a href="/news">news</a></li>
            <li><a href="/courses">courses</a></li>
  
    
          </ul>
        </div>
        <div class="navbar-end">
          {% if username %}
          <div class="dropdown dropdown-hover relative mr-2">
            <label tabindex="0" class="text-lg sm:text-xl text-gray-500 p-3 rounded-md transition duration-100 btn-ghost"> Hi, <span class="text-violet-500">{{username}}<span></label>
            
            <ul tabindex="0" class="hidden lg:flex dropdown-content absolute right-0 menu ">
                <div class="w-full h-[20px] bg-transparent "></div>
                <li><a href="/auth/logout" class=" p-3 py-4 text-right shadow-md bg-base-100 rounded-sm w-44 cursor-pointer text-red-500"> <img src="../../static/assets/logout.svg" class="w-6 h-6"/> logout</a></li>
            </ul>
          </div>
          {%else%}
           <a href="/auth/login" class="hidden lg:flex gap-x-1 p-2 border-2 hover:border-blue-500 transition duration-100 rounded-md "> <img src="../../static/assets/person.svg" class="w-6 h-6"/> login</a>
          {%endif %}
        </div>
    </navbar>
    <section class="flex justify-center items-start w-full gap-x-2 mt-14 mb-16">
        <article id="forum-card-placeholder" class="w-full lg:w-auto lg:max-w-5xl mx-4">
        </article>

        <section class="hidden lg:block w-80">
            <label class="text-gray-700 font-semibold text-[17px] mb-3">Related topics</label>
            <div id="related-topics" class="w-full shadow-md">
                {% for forum in related_forums %}
                <a href="/inforum/forum/{{forum.id}}" class="cursor-pointer hover:opacity-70 transition-all duration-100 w-full bg-white p-2 flex flex-col justify-center border-b">
                    <label class="text-[16px] text-gray-600 font-semibold truncate">{{forum.title}}</label>
                    <p class="text-[13px]">{{forum.time_created}}</p>
                    <p class="mt-2 flex flex-wrap text-[14px] text-black truncate">{{forum.content}}</p>
                </a>
                {% endfor %}
            </div>
        </section>
    </section>   
</main>
<script>
    function createForumCard(forum){
        const isUser = '{{username}}'
        const userType = '{{user_type}}'
        const colorPallete = {
            technology : 'bg-blue-500',
            business : "bg-amber-500",
            startup : "bg-green-600",
            misc : "bg-gray-400"
        }
        var placeholder = $("#forum-card-placeholder");
        placeholder.append(
                `<div id="forum-page" id="forum-${forum.pk}" class=" card rounded-sm min-h-[400px] w-full lg:w-[800px] bg-base-100 cursor-pointer shadow-md">
                    <div  class="h-full w-[3px] ${colorPallete[forum.fields.category.toLowerCase()]} absolute"></div>
                        <div class="card-body p-4 md:p-6 relative">
                            <h2 class="card-title text-[18px] md:text-xl">${forum.fields.title}</h2>
                            <div class="h-full ">
                                <p class="leading-none font-bold text-gray-600 text-base mb-6">${forum.fields.username} <span class="font-normal ml-3">${forum.fields.time_created}</span></p>
                                <p class='text-[15px] flex flex-col flex-wrap multi-line'>${forum.fields.content} 
                                </p>
                            </div>
                            
                        </div>
                        <div id="comment-placeholder" class="w-full">
                            </div>
                            <div id="comment-form" class="w-full p-4 relative pb-2" >
                                ${isUser && userType != "ADMIN" ? `<input id="comment" class="w-full border rounded-full p-2 pl-4 pr-14 bg-gray-100 placeholder-gray-400 focus:ring-blue-500 " placeholder="leave a reply"></input>
                                <button onclick="submitHandler()" id="submit-comment"  class="absolute h-6 w-6 top-6 right-8" >
                                    <img  src="../../static/assets/send-icon.svg"/>
                                </button>` : 
                                `<button onclick="redirectLogin()" class="text-center font-semibold cursor-pointer w-full lg:w-4/5 lg:w-full p-2 pl-4 bg-yellow-500 border border-slate-500 rounded-full text-slate-700 hover:shadow-lg transition duration-100">
                        ${userType != "ADMIN" ? `login to leave a reply!` : "login as normal user to leave a reply!"}
                    </button>`}
                            </div>    
                    </div>
                </div>`
                )
    }

    $(window).ready(function(){
        $.get("/inforum/get_forum/{{forum_id}}", function(data) {
            createForumCard(data[0]);
            $.get("/inforum/forum/comment/{{forum_id}}", function(data) {
                console.log(data)
                data.forEach(function(item){
                    createCommentCard(item);
                })
            })
        })
    })
   
    function submitHandler(){
        comment = $("#comment")["0"];
        const cleanData = {
            "csrfmiddlewaretoken" : "{{csrf_token}}",
            "comment" : comment.value,
        }
        
        $.ajax({
        type: "POST",
        url: "/inforum/forum/{{forum_id}}/comment/add",
        //contentType: "application/json; charset=utf-8",
        data:cleanData,
        success: (data) => {
            
           $("#comment").val("");
           createCommentCard(data[0]);
            
        },
        dataType: "json"
        });
    }
   
        
   function createCommentCard(comment){
    const userType = '{{user_type}}'
    const placeholder = $("#comment-placeholder");
    placeholder.append(
        `<div id=comment-${comment.pk} class="w-11/12 mx-auto p-3 border-t bg-white flex flex-col justify-start relative">
                            ${ userType == "ADMIN" ? `<button onclick="deleteComment(${comment.pk},'{{forum_id}}')" class="tracking-wider text-gray-400 absolute right-3 top-3 hover:text-red-500 transition duration-100">DELETE</button>` : ""}
                            <label class="text-[16px] text-gray-600 font-semibold">${comment.fields.username + " - " + comment.fields.user_job}</label>
                            <p class="text-[13px]">${comment.fields.time_created}</p>
                            <p class="mt-2 flex flex-wrap text-[14px] text-black">${comment.fields.comment}</p>
                        </div>`
    )
   };
   
   function redirectLogin(){
    window.location.href= "/auth/login"
    }

    function deleteComment(comment_id, forum_id){

        $.ajax({
            method : "DELETE",
            url : `/inforum/forum/${forum_id}/comment/delete/${comment_id}`,
            beforeSend: xhr => xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"),
            success:() => {        
                    alert('OK')
            },
            dataType: "json"


        })
        setTimeout(function(){
            $(`#comment-${comment_id}`).remove();
        }, 1000)

    }

   

   $(document).ready(function(){
    
    setInterval(() => {
        $.get("/inforum/forum/comment/{{forum_id}}", function(data) {
                $("#comment-placeholder").empty();
                data.forEach(function(item){
                    createCommentCard(item);
                })
            })
    }, 10000)
   })

</script>

{% endblock content %}